.contain_form{
    margin: auto;
}


#myform{
   display: flex;
   margin-top: 100px;
   flex-direction: column;
   align-items: center;
}


label{

    display: inline-block ;
    width: 300px;
    text-align: right;
    
}

input{
    height: 20px;
    margin-left: 100px;
    width: 200px;
    border-radius: 4px;
    
}

.correct{
    
    outline: none;
    border-color: green ;
    box-shadow: 0px 0px 8px green;
}

.incorect{
    outline: none;
    border-color: rgb(162, 56, 7);
    box-shadow: 0px 0px 8px rgb(222, 100, 18);

}

span{
    background-color: rgb(218, 121, 9);
    color: black;
}


